@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;color:black;
}

body, html {
    margin: 0;
    padding: 0;
}
.auth_container{
    width:100%;min-height:100vh;box-sizing: border-box;background-color:$appBackground;
}
.auth_form{
    width:40rem;margin:0 auto;height:100vh;display:flex;
    flex-direction:column;align-items: center;
    &_title{
        color:black;
    }
    &_form{
        display:flex;flex-direction: column;align-items: center;justify-content: center;
    }
    &_input{
        display:flex;flex-direction: column;margin-bottom:.5rem;
        &_label{
            color:black;
        }
        &_inputbox{
            height:2rem;width:15rem;background-color:$white;border-radius:.5rem;
            border:1px solid #eee;padding-left:.5rem;color:black;
            &:focus{
                outline:none;
            }
        }
        &_errorText{
            display:flex;font-size:.7rem;align-items: center;
            &_icon{
                margin-right:.5rem;
            }
        }
    }
    &_submit{
        width:6rem;height:3rem;justify-content: center;align-items:center;display:flex;border:none;
        border-radius:.25rem;background-color: $primaryGreen;color:white;cursor:pointer;
        transition:all .3s;box-shadow: 3px 7px 12px -6px rgba(0,0,0,0.1);font-size:1.2rem;
        &:hover{
            background-color: $secondaryGreen;
        }
        &_disabled{
            width:6rem;justify-content: center;align-items:center;display:flex;border:none;
            border-radius:.25rem;background-color: $primaryGreen;color:white;cursor:pointer;
            transition:all .3s;box-shadow: 3px 7px 12px -6px rgba(0,0,0,0.1);opacity:0.1;
            font-size:1.2rem;
        }
        &:active{
            background-color: $secondaryGreen;transform:TranslateY(0.15rem);
            box-shadow:  -4px -5px 12px -6px rgba(0,0,0,0.1);
        }
    }
    &_redirect{
        color:black;
        &_link{
            color:$primaryGreen;cursor:pointer;transition:all .5s;font-weight:bold;
            text-decoration: none;
            &:hover{
                color:$secondaryGreen
            }
        }
    }
}

// Responsive
@media screen and (max-width:$sm) {
    .auth_form{
        max-width:100%;height:auto;
        &_title{
            font-size:2rem;
        }
        &_input{
            max-width:100%;
        }
        &_input_label{
            font-size:1.5rem;max-width:100%;
        }
        &_input_inputbox{
            height:3rem;font-size:1.5rem;max-width:100%;
        }
        &_input_errorText{
            font-size:1.2rem;max-width:15rem;
        }
        &_redirect{
            font-size:1.2rem;
        }
    }
}